<h1>User List</h1>

<div id="users">
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.user_name %></strong>
        <%= link_to "Add Friend" %>
        <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>